{% extends "main.html" %}
{% block content %}

  <div class="row">

		<div class="col-lg-3">
			<h1 class="my-4">Genre</h1>
			<div class="list-group">
				{% for category in categories %}
					{% if category.id == currentCategory.id %}
					  <a href= "{{ url_for('category_page', cat_name = category.name) }}" class="list-group-item active">{{ category.name }}</a>
					{% else %}
					  <a href= "{{ url_for('category_page', cat_name = category.name) }}" class="list-group-item">{{ category.name }}</a>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		
		<div class="col-lg-9">
			<div class="card card-outline-secondary my-4">
				<div class="card-header">
					Movies
				</div>
				<div class="card-body">
					{% for item in items%}
					<a href= "{{ url_for('item_page', cat_name = item.get_cat_name(), item_name = item.name ) }}"><p>{{ item.name }} </p></a>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
